/*GLOBAL*/
body{
  padding: 0;
  margin: 0;
  font-family: arial;
  background-color: #c9c9c9;

  min-width: 300px;
}

.container{
  width: 80%;
  min-width: 400px;
  margin: auto;
  overflow: hidden;
  z-index: 100;
}

input, button{
  color: black;
  font-family: arial;
  font-size: 11px;
  border-style: solid;
  border-color: rgb(102, 12, 23);
  border-radius: 10px;
  text-align: center;
  min-height: 30px;
  min-width: 250px;
}

button{
  width: 100px;
}

/*HEADER*/
header{
  min-height: 90px;
  background-color: rgb(91, 0, 33);
  border-bottom: #959595 10px solid;
  color: white;
  /*Se agrega un espacio del inicio de la pantalla*/
}

header #branding{
  width: 80%;
  margin: auto;
  overflow: hidden;
  float: left;
  text-align: center;
  padding-top: 30px;
  margin-left: 10%;
}

/*Se quita el margen al texto del branding para que no cause conflictos*/
header #branding h1{
  margin: auto;
}

header #logoTec{
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 15px;

}

header #logoTec img{
  min-height: 20%;

}


/*FORM*/
.cuadroForm{
  margin: auto;
  padding: 0;
  min-width: 400px;
  max-width: 500px;
  min-height: 350px;
  background-color: blue;
  text-align: center;

  /*Colores de fondo y bordes*/
  background-color: rgba(129, 129, 129, 0.56);
  border-color: #414141;
  border-style: solid;
  border-radius: 10px;

  /*Separación del header*/
  margin-top: 20px;
}

/*manipulacion de tabla*/
.tdIzquierdo{
  text-align: right;
}

.tablaDeContenido{
  margin: auto;

  /*Separación del borde del cuadro semitransparente*/
  margin-top: 10px;
}

.tablaDeContenido#textarea{
  max-width: 10px;
  min-width: 10px;
}
